{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %} News {% endblock title %}

{% block content %}
    <h1>Все новости в категории <span>{{ category.name }}</span></h1>

    {% if user not in subscribers %}
        <a href="{% url 'subscribe' category.id %}">
            <button>Подписаться</button>
        </a>
    {% else %}
        <a href="{% url 'unsubscribe' category.id %}">
            <button>Отписаться</button>
        </a>

        <p>Количество новостей: {{news|length}}</p>

        {% for new in news %}
            <h2>
                <a href="{% url 'news_detail' new.id %}">{{new.title|Censor}}</a>
                <a href="{% url 'news_create' new.id %}"><u>Редактировать</u></a>
                <a href="{% url 'news_delete' new.id %}"><u> Удалить </u></a>
            </h2>
            <p>{{new.dateCreation|date:'d-M-Y H:i'}}</p>
            {% for category in new.postCategory.all %}
                <p>Категория: <a href="{% url 'category' category.id %}">{{ category.name }}</a></p>
            {% endfor %}
            <p>{{new.text|truncatewords:50|Censor}}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}