{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
All News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if news %}
        <p>Количество новостей: {{news|length}}</p>


        {% for new in news %}
            <h2><a href="{% url 'news_detail' new.id %}">{{new.title|Censor}}</a>
                <a href="{% url 'news_create' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

                <a href="{% url 'news_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </h2>
            <p>{{new.dateCreation|date:'d-M-Y H:i'}}</p>
<p>Категория: {% for category in new.postCategory.all %}<a href="{% url 'category' category.id %}">{{ category.name }}{% if not forloop.last %}, {% endif %} </a>{% endfor %}</p>

            <p>{{new.text|truncatewords:50|Censor}}</p>
        {% endfor %}

<a href="{% url 'news_create' %}">Добавить новую статью</a> <br>

    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h2>Товаров нет!</h2>
    {% endif %}
{% if is_paginated %}

<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a>{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">>>></a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

{% endblock content %}

