{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
Search
{% endblock title %}

{% block content %}
<h1>Поиск</h1>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

<h1>Все новости</h1>
<hr>

{% for new in filter.qs %}
    <h2><a href="{% url 'news_detail' new.id %}">{{new.title|Censor}}</a>
        <a href="{% url 'news_create' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

        <a href="{% url 'news_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
    </h2>
    <p>{{new.dateCreation|date:'d-M-Y H:i'}}</p>
    <p>{{new.text|truncatewords:50|Censor}}</p>
{% endfor %}

{% if filter.qs|length == 0 %}
    <h2>Новостей по заданным параметрам не найдено.</h2>
{% endif %}

{% if is_paginated %}

<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
{% if page_obj.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{ page_obj.previous_page_number }}"><<<</a>
{% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}



{% endblock content %}
